.movie-card-container {
  max-width: 300px;
  max-height: 600px;
  margin-bottom: 30px;
}

/* Decrease movie card size */
.movie-image-container {
  max-width: 300px;
  max-height: 500px;
  position: relative;
  margin-bottom: 0px;
}

.movie-image {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 9px 9px 0px 0px;
  margin-bottom: -6px;
  z-index: 1;
}
.favorite-btn {
  font-size: 25px;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 0px;
  border-radius: 46%;
  background: none;
  border: none;
  transition: background-color 0.2s;
}
.favorite-btn.active {
  color: red;
}
.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-details {
  z-index: 0;
  max-width: 285px;
  height: 80px;
  background-color: #1b1b1b;
  margin-top: 0px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
}
.movie-title {
  margin-bottom: -10px;
}
